:root {
    --color-card: #3b82f6;
    --color-h1: red;
    --font-global: eroded;
}
@font-face {
    font-family: "eroded";
    src: url("fonts/eroded/ERODED\ PERSONAL\ USE.ttf") format("truetype");
}
body {
    font-family: var(--font-global);
    font-size: 30px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: right;

    background-color: aqua;
}
h1 {
    margin: 10px;
    margin-left: 47%;
}
header nav {
    margin: 10px;
}
a {
    color: black;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(rgb(0, 238, 255), rgb(68, 23, 140));
    /* background-color: blueviolet; */
    gap: 20px;
    padding: 10px;
}
.card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 50px;
    height: fit-content;
    background-color: rgb(42, 89, 189);
    border: 5px solid rgb(68, 27, 149);
}
/* link:hover {
    cursor: pointer;
} */
button:hover {
    cursor: pointer;
}
.card img {
    position: absolute;
    top: 5px;
    right: 5px;
}
.card img:hover {
    /* display: none; */
    cursor: pointer;
}
footer {
    display: grid;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(68, 23, 140);
    padding-bottom: 2rem;
    padding-top: 2rem;
}
