body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: right;

    background-color: aqua;
}
h1 {
    margin: 10px;
}
header nav {
    margin: 10px;
}
a {
    color: black;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(rgb(0, 238, 255), rgb(68, 23, 140));
    /* background-color: blueviolet; */
    gap: 5px;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 5px;
    height: 200px;
    background-color: rgb(42, 89, 189);
    border: 5px solid rgb(68, 27, 149);
}
.card img {
    position: absolute;
    top: 5px;
    right: 5px;
}
footer {
    display: grid;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(68, 23, 140);
    padding-bottom: 2rem;
    padding-top: 2rem;
}
